---
import jwt from 'jsonwebtoken';
import env from 'dotenv';
import Navbar from "@components/Navbar";
import { IUser } from 'src/utils/fetcher';

env.config({ path: '.env' });

const { title } = Astro.props
const { pathname } = Astro.url
const accessToken = Astro.cookies.get('accessToken').value

const user = jwt.verify(accessToken, process.env.SECRET) as IUser;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <header>
        <Navbar {...user} pathname={pathname} />
    </header>
    <main class="container mx-auto">
        <slot />
    </main>
</body>
</html>